
{{!-- The default 404 page by group 5--}}

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 80vh;">
    <p>Welcome to the future interface of Group 5.</p>
    <p>While we don't have any designs at the moment, we may add them in the future.</p>
    <p>Feel free to explore our homepage, which we have already designed.</p>
    <a href="/">Click here to go our homepage</a>
</div>