<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="/js/analysis.js"></script>
    <script>const userId = "{{userId}}";</script>
    <link rel="stylesheet" type="text/css" href="/css/analysis.css">
</head>

<p id="barchart">Bar Chart</p>
<canvas id="barChart"></canvas>

<p>Line Chart</p>
<canvas id="lineChart"></canvas>

<p>Top 3 Articles</p>
<div id="topThreeArticles"></div>