<head>
    <script type="text/javascript" src="/js/password.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/password.css">

</head>

{{#if delete}}
<div id="delete-container">
    <form action="./deleteAccount" method="POST" class="delete-form">
        <div class="password-section">
            <h1>Delete Account</h1>
            <label for="password">Enter your password to confirm deletion:</label>
            <input type="password" id="password" name="password">
            <div class="button-container">
                <button type="submit" class="deleteAccount">CONFIRM</button>
            </div>
        </div>
        <p>{{message}}</p>
    </form>
</div>
{{/if}}

{{#if changePassword}}
<div id="change-container">
    <h1>Change Password</h1>
    <form action="./changePassword" method="POST" class="changePassword-form">
        <div class="old-password-section">
            <label for="oldPassword">Enter your old password:</label>
            <input type="password" id="oldPassword" name="oldPassword">
        </div>
        <div class="new-password-section">
            <label for="newPassword">Enter your new password:</label>
            <input type="password" name="newPassword" id="newPassword" required>
        </div>
        <div class="confirm-new-password-section">
            <label for="confirmNewPassword">Confirm your new password:</label>
            <input type="password" name="confirmNewPassword" id="confirmNewPassword" required>
        </div>
        <div class="input-field">
            <p id="passwordmatch" style="color: red;">{{message}}</p>
        </div>
        <div class="button-container">
            <button type="submit" class="changePassword-btn">Change Password</button>
        </div>
    </form>
</div>
{{/if}}