/* Page background */
body {
  background-color: rgb(220, 218, 231);
  color: black;
}

/* Buttons */
button {
  padding: 10px 20px;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(167, 121, 128);
  border: none;
  color: #fff;
  cursor: pointer;
  cursor: pointer;
  transition: transform 0.05s;
}

button:hover {
  background-color: rgb(150, 80, 75);
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

#change-container,
#delete-container {
  max-width: 400px;
  margin: 10% auto;
  padding: 20px;
  box-shadow: 0 0 10px rgb(167 121 121);
  background-color: white;
  border-radius: 8px;
}

h1 {
  color: rgb(150 80 75);
  justify-content: center;
}

.old-password-section,
.new-password-section,
.confirm-new-password-section,
.input-field,
.password-section {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 96%;
}

.deleteAccount {
  margin-top: 10px;
}

#delete-container {
  padding-bottom: 5px;
}

p{
  color:#e6050599;
}